/**
* 색상
* 웹사이트에서 사용할 컬러 값을 정의합니다.
* 컬러의 이름을 지정하고, 이를 용도에 따라 가져가서 사용하면 됩니다.
* 예 :
* 파란색 값을 지정 -> 파란색의 용도를 지정
* $blue: rgb(39, 133, 212);
* $background-color: $blue;
* 표현 형태
* rgba를 사용하며 알파 값이 1인 경우에는 적지 않습니다.
* 
*/

// 기본 색상표
$blue:rgb(39, 133, 212);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(181, 181, 181);
$green: rgb(0, 203, 83);
$red: rgb(221, 51, 26);
$yellow:rgb(255, 178, 0);

$transparent: rgba(0, 0, 0, 0);