// Color
// TODO: SASS for loop로 변경해야함
.blue {
  background-color: $blue;
}
.yellow {
  background-color: $yellow;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.black {
  background-color: $black;
}

.white {
  background-color: $white;
}


.gray {
  background-color: $gray;
}

.transparent {
  background-color: $transparent;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}